.contact__main_info-text-contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 2rem;
	padding-top: 1rem;
	padding-right: 0.5rem;
}

.whatsapp, .messenger, .phone {
	text-transform: inherit;
	color: var(--secondary-color);
}

.contact__img {
	max-width: 350px;
	display: block;
}



@media screen and (max-width: 768px) {
	.contact__img {
		max-width: 250px;
		margin-left: 5rem;
	}
}