.servicos__main_card-wrapper {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 14.05rem;
}

button {
    font-family: "Cormorant Garamond", serif;
  	font-style: normal;
    font-size: 1.2em;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
} 

/* CARDS */
.servicos__main_card_wrapper-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* Cards Colours */
.servicos__main_card_wrapper_cards-card:first-child, .servicos__main_card_wrapper_cards-card:last-child {
    background-color: var(--khaki);
    color: var(--main-color);
}
.servicos__main_card_wrapper_cards-card:nth-child(2) {
    background-color: var(--timberwolf);
    color: var(--secondary-color);
}
.servicos__main_card_wrapper_cards-card:nth-child(3) {
    background-color: var(--camouflage-green);
    color: var(--main-color);
}
.servicos__main_card_wrapper_cards-card:nth-child(4) {
    background-color: var(--dark-gold);
    color: var(--main-color);
}

.servicos__main_card_wrapper-cards .servicos__main_card_wrapper_cards-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    transition: 400ms;
}

.servicos__main_card_wrapper-cards .servicos__main_card_wrapper_cards-card:hover {
    transform: scale(1.5, 1.5);
}
  
.servicos__main_card_wrapper-cards:hover > .servicos__main_card_wrapper_cards-card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
} 

/* Circle stays bigger while gallery open */
.hover-effect {
    transform: scale(1.5, 1.5);
    transition: 400ms;
}

/* IMG SLIDER */
.slider__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.slider__container-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__panel {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider__prev-btn, .slider__next-btn {
    width: 2em;
    height: 2em;
    margin: 2rem;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.25s;
}

.slider__prev-btn:hover, .slider__next-btn:hover {
    transform: scale(1.25);
}

.slide__img {
    scroll-snap-align: start;
    width: 270px;
    border-radius: 50px;
    padding: 1rem;
}

::-webkit-scrollbar {
    display: none;
}
  
  
/* RWD  */
/* IMG SLIDER */
@media screen and (max-width: 768px) {
    .servicos__main_card-wrapper {
       padding-bottom: 7rem;
   }
   
    .slider__panel {
       width: 100%;
    }

    .slider__container-content {
       width: 90vw;
    }

    .slider__prev-btn, .slider__next-btn {
       height: 5em;
       margin: 0.1rem;
    }

    .slide__img {
       width: 400px; 
       margin: 0 1rem;
    }
}

@media screen and (max-width: 992px) {
    .servicos__main_card_wrapper-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap:40px;
    }

    .servicos__main_card_wrapper_cards-card {
        width: 80px;
        height: 80px;
    }

    .servicos__main_card_wrapper_cards-card:last-child {
        grid-column: span 2; 
        justify-self: center; 
    }

    .servicos__main_card_wrapper-cards .servicos__main_card_wrapper_cards-card:hover {
        transform: scale(1.2, 1.2);
    }
      
    .servicos__main_card_wrapper-cards:hover > .servicos__main_card_wrapper_cards-card:not(:hover) {
        filter: blur(5px);
        transform: scale(1.2, 1.2);
    } 
    
    /* Circle stays bigger while gallery open */
    .hover-effect {
        transform: scale(1.3, 1.3);
    }
}
