.about__img {
	max-width: 350px;
	display: block;
}

.main__info-text-about {
	font-size: 1.2rem;
	width: 35rem;
	padding-top: 5rem;
}

/* RWD */
@media screen and (max-width: 768px) {
	.about__img {
		max-width: 250px;
		margin-left: 5rem;
	}
}