hr {
    height: 1px;
    width: 35rem;
    background: var(--brown-color);
    opacity: 1;
}

.footer__container{
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__info {
    margin: 1em;
    color: var(--brown-color);
    text-align: center;
    line-height: 25px;
}

/* RWD */
@media screen and (max-width: 768px) {
    hr {
        width: 27rem;
    }

    .footer__info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
