.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1rem 2rem;
	backdrop-filter: blur(4px);
	z-index: 1;
}

.navbar__wrapper {
	display: flex;
	justify-content: space-between;
  	flex-wrap: wrap;
}

.navbar__menu ul li {
	display: inline-block;
}

li a {
	padding: 1rem;
}

.navbar__hamburger {
	display: none;	
}

/* To show which link is open */
.active {
	color: var(--hover-color) !important;
}

/* RWD */
@media screen and (max-width: 991px) {
	.navbar {
		z-index: 10;
	}

	.navbar__menu {
		display: none;
	}

	.navbar__menu.active {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		right: 0;
		top: 0;
		width: 50%;
		height: 100vh;
		background: var(--warm-beige-color);
	}

	.navbar__menu.active ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}

	.navbar__menu.active ul li a {
		font-size: 1.5rem;
		font-weight: bold;
	}
	
	.navbar__hamburger {
		display: block;
		cursor: pointer;
	}
	
	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		background-color: var(--secondary-color);
		transition: all 600ms ease-in-out;
	}
	.navbar__hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.navbar__hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.navbar__hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}